<h1>This is Main#pCreate</h1>
<p>Find me in app/views/main/pCreate.html.erb</p>

<p>attempting to create a post ...</p>

<br/>
<p>========== u did post ==========</p>

<br/>
<%= @message %>

<br/>
and relate to user id <%= @user_id%>
<br/>
and his/her name is <%= @u.name%>
<br/>
