<h1>This is Main#uRead</h1>
<p>Find me in app/views/main/uRead.html.erb</p>

<p>attempting to find posts ...</p>

<br/>
<p>========== this user(<%= @uName%>) post ==========</p>

<br/>

<%if @pos.empty? %>
  this user has not post anything yet
<%else%>
  <%for i in 0..@pos.length()-1 %>
    post id is
    <%= i+1%>
    with these message
    <%= @pos[i].msg%>
    <br/>
  <%end%>
<%end%>


<br/>
