<h1>Welcome to nothing</h1>
<p style="color:blue;">here is the list of what you have to do</p>
<ol style="boarder: 2px solid Violet;">
	<li> look down </li>
	<li> look down </li>
	<li> look down </li>
	<li> look down </li>
	<li> and do nothing </li>
</ol>

<p>have fun XD</p>
